body {
    max-width: 800px;
    margin: auto;
    background-color: beige;
}

div.sourceCode {
    padding-left: 10px;
    padding-right: 10px;
    background-color: azure;
    border: 1px solid black;
}

.footer {
    margin-bottom: 20px;
    margin-top: 20px;
}

table.footer {
    border: 0;
    width: 100%;
}

td.footer-left {
    border: 0;
    text-align: left;
}

td.footer-right {
    border: 0;
    text-align: right;
}

